<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJJsgfJrZ1MU8a2aIf8oIFNs2R9_EvzNU</string>
	<key>GCM_SENDER_ID</key>
	<string>629600719957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google-services.json</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-a5d5f</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-a5d5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629600719957:ios:736a6bdaf340ffa46270dc</string>
	<key>DATABASE_URL</key>
	<string>https://e-commerce-a5d5f-default-rtdb.firebaseio.com</string>
</dict>
</plist>